.thumbnail{
    width: 85px;
}

.my-navbar1 {
    background-image: linear-gradient(135deg, #fc00ff, #00dbde);
    /*color: #fafffb;*/
}

.my-navbar3 {
    background-color: #dbffe7;
}

.my-navbar5 {
    background-image: linear-gradient(135deg, #90f7ec, #32ccbc);
}

.my-navbar6 {
    background-image: linear-gradient(135deg, #32ccbc, #90f7ec);
}

.my-navbar4 {
    background-image: linear-gradient(135deg, #00dbde, #fc00ff);
    /*color: #fafffb;*/
}

.my-navbar2 {
    background-color: hsla(0,0%,98%,.8);
}

.center-button {
    display: block;
    margin: 0 auto;
}



